@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5; /* Lighter background */
    color: #333333;
    text-align: center; /* Center-aligns text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px; /* Adjust based on preference */
}

.profile-img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.social-links {
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
    color: #333333;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #FFD700; /* Gold color for hover state */
}

.highlight, a {
    color: #FFD700; /* Gold color */
    text-decoration: none;
}

.highlight:hover, a:hover {
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
}

@media(max-width:768px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }
    .profile-img {
        max-width: 70%;
    }
}
